body {
    font-family: arial;
    font-size: 1.1rem;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

section img {
    max-width: 600px;
    box-shadow: 10px 10px 20px #bbb;
}

#header {
    height: 25vh;
    display: flex;
    align-content: center;
    /* background: linear-gradient(#ec7727, #e37342); */
    background: url("images/header-bg-s.jpg");
    background-size: cover;
    background-position: bottom;
    border-bottom: 1px solid #d66a3c;
}

#headertitle {
    font-size: 3rem;
    margin: auto;
    color: white;
    /* background: #b95d35; */
    background: url("images/black-30.png");
    border: 2px solid #0000002f;
    padding: 1.5rem 3rem;
}

#navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* min-height: 3.5rem; */
    background: linear-gradient(#353535, #2c2c2c);
    box-sizing: border-box;
}

#navigation .navbutton {
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

#navigation .selected {
    color: #333;
    background: #eee;
    border-bottom: 1px solid #bbb;
}

#navigation .navbutton:hover {
    background: #4f4f4f;
}

#navigation .navbutton:active {
    background: #444;
}

#navigation .navbutton .selected:hover {
    color: #222;
    background: #fff;
}

#navigation .navbutton .selected:active {
    color: black;
    background: #eee;
}

section {
    min-height: 25vh;
    display: flex;
}

section:nth-child(even) {
    background: rgb(240,240,240);
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e4e4e4;
}

.sectioncontent {
    width: 80%;
    margin: 10vh auto;
    padding: 0 30px;
}

#one {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

#two {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}