body {
    font-family: arial;
    font-size: 1.1rem;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

.shadow {
    max-width: 600px;
    box-shadow: 10px 10px 20px #ddd;
}

#header {
    height: 25vh;
    display: flex;
    align-content: center;
    /* background: linear-gradient(#ec7727, #e37342); */
    background: url("images/header-bg-sw.jpg");
    background-size: cover;
    background-position: bottom;
    border-top: 1px solid #666;
    border-bottom: 1px solid #9b6c53;
}

#headertitle h2 {
    margin-bottom: 10px;
}

#headertitle h6 {
    margin-top: 0px;
}

#headertitle {
    font-size: 2rem;
    text-align: center;
    font-family: "lato", "arial";
    margin: auto;
    color: black;
    opacity: 1;
    /* background: #b95d35; */
    /* background: url("images/black-30.png"); */
    /* border: 2px solid #0000002f; */
    padding: 1.5rem 3rem;
}

#navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* min-height: 3.5rem; */
    background: linear-gradient(#353535, #2c2c2c);
    box-sizing: border-box;
}

#navigation .navbutton {
    color: white;
    font-size: 1.3rem;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
}

#navigation .selected {
    color: #111;
    background: #eee;
    border-bottom: 1px solid #bbb;
}

#navigation .navbutton:hover {
    background: #4f4f4f;
}

#navigation .navbutton:active {
    background: #444;
}

#navigation .selected:hover {
    color: #111;
    background: #fff;
}

#navigation .selected:active {
    color: black;
    background: #eee;
}

section {
    /* min-height: 5vh; */
    /* display: flex; */
}

section:nth-child(even) {
    background: rgb(240,240,240);
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e4e4e4;
}

.topgradient {
    position: absolute;
    width: 100%;
    height: 3vh;
    background: linear-gradient(black, white);
    opacity: 0.05;
}

.sectioncontent {
    max-width: 1400px;
    margin: 8vh auto;
    padding: 0 30px;
}

#home-1 {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

#home-2 {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#home-2 img
{
    max-width: 600px;
}

#logogrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.text-center {
    text-align: center;
}

#logogrid img {
    width: 180px;
}

#gallery-grid {
    display: grid;
}

.pano-container
{
	width: 100%;
    position: relative;
    padding-bottom: 56.25%;
	margin: auto;
	/*background: gray;*/
	/* border: 1px solid #aaa; */
}

.pano-container iframe {
    position: absolute;
}