<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cardo">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=OpenSans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <script src="script.js" async></script>
    <script src="../script.js" async></script>
</head>
<body>

    <div id="header-container">
        <div id="languages">
            <select id="language-select" onchange="javascript:location.href = this.value;">
                <option value="./en/{{ name }}" {% if language == 'en' %}selected="selected"{% endif %}>English</option>
                <option value="./it/{{ name }}" {% if language == 'it' %}selected="selected"{% endif %}>Italiano</option>
            </select>
        </div>
        <a href="{{ language }}/index" id="header-text">
            <div id="header-title"><div class="hc1">ANTICA FORNACE </div><div class="hc2">CARRARO</div></div>
            <div id="header-subtitle" class="hc3">Piove di Sacco – Padova</div>
        </a>
    </div>

    <div id="navigation">
        <div id="navbutton-container">
            <a href="{{ language }}/index" class="navbutton {% if select_home %}nav-selected{% endif %}">
                {{ navbutton_home }}</a>
            <a href="{{ language }}/gallery" class="navbutton {% if select_gallery %}nav-selected{% endif %}">
                {{ navbutton_gallery }}</a>
            <a href="{{ language }}/catalogo" class="navbutton {% if select_catalog %}nav-selected{% endif %}">
                {{ navbutton_catalog }}</a>
            <a href="{{ language }}/contatti" class="navbutton {% if select_about %}nav-selected{% endif %}">
                {{ navbutton_about }}</a>
        </div>
    </div>

    <div id="main">
        {% block main %}
        {% endblock %}
    </div>

    <div id="footer">
        <p>This is the footer</p>
    </div>

</body>
</html>